@model EE.KapsalonX.Web.ViewModels.AdminCreateVm

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h2>Maak nieuwe afspraak</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Klant.Voornaam" control-label"></label>
                    <input asp-for="Klant.Voornaam" class="form-control" />
                    <span asp-validation-for="Klant.Voornaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.Achternaam" class="control-label"></label>
                    <input asp-for="Klant.Achternaam" class="form-control" />
                    <span asp-validation-for="Klant.Achternaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.Emailadres" class="control-label"></label>
                    <input asp-for="Klant.Emailadres" class="form-control" />
                    <span asp-validation-for="Klant.Emailadres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.Telefoonnummer" class="control-label"></label>
                    <input asp-for="Klant.Telefoonnummer" class="form-control" />
                    <span asp-validation-for="Klant.Telefoonnummer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Datum" class="control-label"></label>
                    <ejs-datepicker id="datepicker" name="Date" ejs-for="Datum" format="dd/MM/yyyy" value="@ViewBag.valueDate" min="@ViewBag.minDate"
                                    max="@ViewBag.maxDate" placeholder="Geef een datum in" strictMode="true" firstDayOfWeek="1"></ejs-datepicker>
                    <span asp-validation-for="Datum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tijdstip" class="control-label"></label>
                    <ejs-timepicker id="timepicker" name="Time" ejs-for="Tijdstip" format="HH:mm" step="30" value="@ViewBag.valueTime"
                                    min="@ViewBag.minTime" max="@ViewBag.maxTime" strictMode="true"></ejs-timepicker>
                    <span asp-validation-for="Tijdstip" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Behandeling.Geslacht" class="control-label"></label><br />
                    <input asp-for="Behandeling.Geslacht" type="radio" value="Dames" />
                    <label>Dames</label><br />
                    <input asp-for="Behandeling.Geslacht" type="radio" value="Heren" />
                    <label>Heren</label><br />
                    <input asp-for="Behandeling.Geslacht" type="radio" value="Kinderen" />
                    <label>Kinderen</label><br />
                    <span asp-validation-for="Behandeling.Geslacht" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Behandeling.GekozenBehandeling" class="control-label"></label>
                    <input asp-for="Behandeling.GekozenBehandeling" class="form-control" />
                    <span asp-validation-for="Behandeling.GekozenBehandeling" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Opmerkingen" class="control-label"></label>
                    <input asp-for="Opmerkingen" class="form-control" />
                    <span asp-validation-for="Opmerkingen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Maak afspraak" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Keer terug</a>
    </div>
</div>

