@model EE.KapsalonX.Domain.Afspraken.Afspraak

@{
    ViewData["Title"] = "Delete";
}

<h2>Verwijder afspraak</h2>

<h3>Bent u zeker dat u deze afspraak wilt verwijderen?</h3>
<div>
    <h4>Afspraak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KlantGegevens.Achternaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KlantGegevens.Achternaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KlantGegevens.Voornaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KlantGegevens.Voornaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KlantGegevens.Emailadres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KlantGegevens.Emailadres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KlantGegevens.Telefoonnummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KlantGegevens.Telefoonnummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tijdstip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tijdstip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BehandelingGegevens.Geslacht)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BehandelingGegevens.Geslacht)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BehandelingGegevens.GekozenBehandeling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BehandelingGegevens.GekozenBehandeling)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opmerking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opmerking)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AfspraakId" />
        <input type="submit" value="Verwijder" class="btn btn-default" /> |
        <a asp-action="Index">Keer terug</a>
    </form>
</div>
