@model IEnumerable<EE.KapsalonX.Domain.Boeken.Afspraak>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KlantGegevens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tijdstip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opmerking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KlantGegevens.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tijdstip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opmerking)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AfspraakId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AfspraakId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AfspraakId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
