@model EE.KapsalonX.Web.ViewModels.AdminIndexVm

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    <a asp-action="Kalender">Toon kalender</a>
</p>
<p>
    <a asp-action="Create">Maak nieuwe afspraak</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Klanten.FirstOrDefault().Achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klanten.FirstOrDefault().Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afspraken.FirstOrDefault().Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afspraken.FirstOrDefault().Tijdstip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Behandenlingen.FirstOrDefault().GekozenBehandeling)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var afspraak in Model.Afspraken)
            {
                if (DateTime.Parse(afspraak.Datum).Month == DateTime.Today.Month)
                {
                        var tijdstipFormat = afspraak.Tijdstip;
                        DateTime.Parse(tijdstipFormat).ToShortTimeString();
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => afspraak.KlantGegevens.Achternaam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => afspraak.KlantGegevens.Voornaam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => afspraak.Datum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => tijdstipFormat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => afspraak.BehandelingGegevens.GekozenBehandeling)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@afspraak.AfspraakId">Bewerk</a> |
                                <a asp-action="Details" asp-route-id="@afspraak.AfspraakId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@afspraak.AfspraakId">Verwijder</a>
                            </td>
                        </tr>
                    }
                }
            }
    </tbody>
</table>
            
   



<br />






