@model EE.KapsalonX.Web.ViewModels.AfspraakVm
@{
    ViewData["Title"] = "Bevestiging";
}

<h1>Uw afspraak werd succesvol geboekt!</h1>
<div>
    <h4>Hieronder vindt u een overzicht van uw gemaakte boeking.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Geslacht)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Geslacht)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Behandeling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Behandeling)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tijdstip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tijdstip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Achternaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefoonnummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Emailadres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Emailadres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opmerkingen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opmerkingen)
        </dd>

    </dl>
    <hr />
</div>

