@model EE.KapsalonX.Web.Models.BoekenIndexVm

@{
//ViewData["Title"] = "Index";
}
@*<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>*@

<h2>Kies de gewenste behandeling</h2>


<div class="container">
    <div class="row">
        <form method="post" asp-action="index">


            <div class=" form-check">
                <label asp-for="Geslacht">Kies je geslacht:</label>
                <select asp-for="Geslacht">
                    <option selected>Choose...</option>
                    <option value="V">Vrouw</option>
                    <option value="M">Man</option>
                    <option value="K">Kind</option>
                </select>
                <button type="submit">Voeg geslacht toe</button>
            </div>

            @if (Model.Geslacht == "V")
            {
            <div class="form-check">
                <label asp-for="Geslacht">Kies de gewenste behandeling:</label>
                <select asp-for="Behandeling" asp-items="Model.Behandelingen"></select>
            </div>
                <button type="submit">Voeg behandeling toe</button>
            }


            @if (Model.Geslacht == "M")
            {
                <div class="form-group">
                    <label asp-for="BehandelingenHeren">Behandelingen Heren:</label>
                    <input asp-for="BehandelingenHeren" class="form-control">
                </div>
            }
            @if (Model.Geslacht == "K")
            {
                <div class="form-group">
                    <label asp-for="BehandelingenKinderen">Behandelingen Kinderen:</label>
                    <input asp-for="BehandelingenKinderen" class="form-control">
                </div>
            }

            @*<button type="submit" class="btn btn-default"><b>GO</b></button>*@
        </form>



        @if (Model.Geslacht == "V")
        {
            <div>
                <div>Geslacht: <b>@Model.Geslacht</b></div>
                <div>Behandeling: <b>@Model.Behandeling</b></div>
            </div>
        }
        @if (Model.Geslacht == "M")
        {
            <div>
                <div>Geslacht: <b>@Model.Geslacht</b></div>
                <div>Behandeling: <b>@Model.BehandelingenHeren</b></div>
            </div>
        }
        @if (Model.Geslacht == "K")
        {
            <div>
                <div>Geslacht: <b>@Model.Geslacht</b></div>
                <div>Behandeling: <b>@Model.BehandelingenKinderen</b></div>
            </div>
        }






    </div>
</div>















@*<div class="container">
    <div class="row">
        <form asp-controller="Boeken" asp-action="Index">
            <button value="Dames" name="Geslacht">Dames</button>
        </form>
        <form asp-controller="Boeken" asp-action="Index">
            <button value="Heren" name="Geslacht">Heren</button>
        </form>
        <form asp-controller="Boeken" asp-action="Index">
            <button value="Kinderen" name="Geslacht">Kinderen</button>
        </form>
    </div>
</div>


@if (Model.Geslacht == "Dames")
{
    foreach (var item in Model.BehandelingenDames)
    {
        <li><a asp-action="Kalender">@item.Coupe.ToUpper(): @item.Optie (@item.Tijdsduur)</a></li>
    }
}
else if (Model.Geslacht == "Heren")
{
    foreach (var item in Model.BehandelingenHeren)
    {
        <li><a>@item.Optie (@item.Tijdsduur)</a></li>
    }
}
else if (Model.Geslacht == "Kinderen")
{
    foreach (var item in Model.BehandelingenKinderen)
    {
        <li><a>@item.Optie (@item.Tijdsduur)</a></li>
    }
}*@


