@model EE.KapsalonX.Web.Models.BoekenModel

@{
    //ViewData["Title"] = "Index";
}
@*<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>*@
<h2>Maak uw afspraak</h2>
<h1>Stap @Model.Stap</h1>

<form asp-controller="Boeken" asp-action="Index" method="post">
    <input asp-for="Stap" hidden />

    @switch (Model.Stap)
    {
        case 1:
            <label asp-for="Geslacht">Kies geslacht</label><br />
            <input asp-for="Geslacht" type="radio" name="Geslacht" id="Dames" value="Dames" />
            <label asp-for="Geslacht">Dames</label><br />
            <input asp-for="Geslacht" type="radio" name="Geslacht" id="Heren" value="Heren" />
            <label asp-for="Geslacht">Heren</label><br />
            <input asp-for="Geslacht" type="radio" name="Geslacht" id="Kinderen" value="Kinderen" />
            <label asp-for="Geslacht">Kinderen</label>
            break;
        case 2:
            <label asp-for="Optie">Kies behandeling</label>
            <input asp-for="Geslacht" value="@Model.Geslacht" hidden />
            if (Model.Geslacht == "Dames")
            {
                <select>
                    @foreach (var item in Model.BehandelingenDames)
                    {
                        <option asp-for="@Model.Optie" value="@item.Optie">@item.Coupe: @item.Optie (@item.Tijdsduur)</option>
                    }
                </select>
            }
            break;
        default:
            break;
    }
    <br />
    <button type="submit">Volgende</button>
</form>