@model EE.KapsalonX.Web.Models.BoekenModel

@{
    ViewData["Title"] = "Index";
}
@*<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>*@
<h2>Maak uw afspraak</h2>
<h1>Stap @Model.Stap</h1>

<form asp-controller="Boeken" asp-action="Index" method="post">
    <input asp-for="Stap" hidden />

    @switch (Model.Stap)
    {
        case 1:
            <p>Kies geslacht</p><br />
            <input asp-for="Geslacht" type="radio" name="Geslacht" id="Dames" value="Dames" />
            <label asp-for="Geslacht">Dames</label><br />
            <input asp-for="Geslacht" type="radio" name="Geslacht" id="Heren" value="Heren" />
            <label asp-for="Geslacht">Heren</label><br />
            <input asp-for="Geslacht" type="radio" name="Geslacht" id="Kinderen" value="Kinderen" />
            <label asp-for="Geslacht">Kinderen</label>
            break;
        case 2:
            <p>Kies behandeling</p><br />
            <input asp-for="Geslacht" value="@Model.Geslacht" hidden />
            @*if (Model.Geslacht == "Dames")
                {
                    <select asp-for="Optie" asp-items="@Model.BehandelingDame">
                    </select>
                }*@
            if (Model.Geslacht == "Dames")
            {
                <select asp-for="Behandeling">
                    @foreach (var item in Model.BehandelingenDames)
                    {
                        <option>@item.Behandeling (@item.Tijdsduur)</option>
                    }
                </select>
            }
            else if (Model.Geslacht == "Heren")
            {
                <select asp-for="Behandeling">
                    @foreach (var item in Model.BehandelingenHeren)
                    {
                        <option>@item.Behandeling (@item.Tijdsduur)</option>
                    }
                </select>
            }
            else if (Model.Geslacht == "Kinderen")
            {
                <select asp-for="Behandeling">
                    @foreach (var item in Model.BehandelingenKinderen)
                    {
                        <option>@item.Behandeling (@item.Tijdsduur)</option>
                    }
                </select>
            }
            break;
        case 3:
        <p>Kies datum en tijdstip</p>
        <input asp-for="Geslacht" value="@Model.Geslacht" />
            <label asp-for="DatumTijdstip"></label>
            <input asp-for="DatumTijdstip" class="form-control" />
            break;
        default:
            break;
    }
    <br />
    <button type="submit">Volgende</button>
</form>