@model EE.KapsalonX.Web.Models.BoekenModel

<h2>Maak uw afspraak</h2>
<h1>Stap @Model.Stap</h1>

<div>
    <h4>Overzicht boeking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Geslacht)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Geslacht)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Behandeling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Behandeling)
        </dd>
    </dl>
    <hr />
</div>

<label asp-for="DatumTijdstip"></label>
<input asp-for="DatumTijdstip" class="form-control" />

<button type="submit">Volgende</button>



