@model EE.KapsalonX.Web.Models.BoekenModel

<h2>Maak uw afspraak</h2>
<h1>Stap @Model.Stap</h1>

<div>
    <h4>Overzicht boeking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Geslacht)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Geslacht)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Optie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Optie)
        </dd>
    </dl>
    <hr />
</div>

<div id="app">
    <vuejs-datepicker></vuejs-datepicker>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vuejs-datepicker"></script>
<script>
    const app = new Vue({
        el: '#app',
        components: {
            vuejsDatepicker
        }
    });
</script>
