@model EE.KapsalonX.Web.Models.BoekenModel

<h2>Maak uw afspraak</h2>
<h1>Stap @Model.Stap</h1>




<div>
    <h4>Overzicht boeking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Geslacht)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Geslacht)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Behandeling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Behandeling)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>
    </dl>
    <hr />
</div>











<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.*js"></script>
<script src="~/js/DateTimePicker.js"></script>
